html{
  background-color: rgb(26, 26, 26);
}

.grid-container {
  color:aqua;
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px;
  background-color: rgb(26,26,26);
  align-content: space-evenly;
  justify-content:space-evenly;
  height:380px;
  width:320px;
  margin:auto;
}
.grid-item {
  border: 2px solid rgba(206, 206, 206, 0.8);
  border-radius: 5px;
  font-size: 30px;
  font-family:"Arial";
  text-align: center;
  user-select: none;
  color:rgb(221, 221, 221);
}